$main-color: #fff;
$secondary-color: #333;
$accent-color: #95e1d3;
$pink: #f38181;
$light-yellow: #fce38a;
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$heading-font: 'Kaushan Script', cursive;
